//PLACEHOLDER VARIABLER

//namnen kan vi gärna behålla men värdena kan ändras hursom.

$primary-color: rgb(228, 38, 38);
$primary-color-dark: rgb(163, 34, 34);

$secondary-color: rgb(41, 38, 228);
$secondary-color-dark: rgb(34, 43, 163);

$tertiary-color: rgb(224, 181, 40);
$tertiary-color-dark: rgb(192, 154, 30);

$light-color: rgb(231, 231, 231)