<nav class="navbar">
    <a href="/" class="navbar__button">
        <i class="fa-solid fa-house"></i>
        <span>Explore</span>
    </a>
    <a href="/restaurants" class="navbar__button" >
        <i class="fa-solid fa-utensils"></i>
        <span>Restaurants</span>
    </a>
    <a href="/reviews/write-new" class="navbar__button" >
        <i class="fa-solid fa-pen"></i>
        <span>Write Review</span>
    </a>
    <a href="/profile/{{id}}" class="navbar__button" >
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
    </a>
</nav>