<div class="restaurant-info-box">
    <div class="name-type-container">
        <div class="sphere">
        </div>
        <span>{{restaurant.name}}</span>
    </div>
    <div class="star-container">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-full"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <span class="reviews-container">12 Reviews</span>
    <span class="address-container">{{restaurant.address}}</span>
</div>