{{! restaurantBox partial }}
<main class="review-page">

  <form
    class="review-page__section review-page__section--form"
    action="/reviews/edit/{{_id}}"
    method="post"
  >
    <div class="form__input">
      <input
        class="form__input--text"
        type="text"
        name="title"
        id="title"
        value="{{title}}"
      />
    </div>
    <div class="form__input">
      <input
        class="form__input--text"
        type="text"
        name="description"
        id="description"
        value="{{description}}"
      />
    </div>
    <div class="form__input">
      <input class="form__input--btn" type="submit" value="Save" />
    </div>
  </form>

  {{! Ändra till a-tagg och gör post till get i router }}
  <form action="/reviews/delete/{{_id}}" method="post">
    <input type="submit" value="Delete" />
  </form>
</main>