<h2>Write new review</h2>

<form class="reviewForm" action="/reviews/write-new" method="post">
  <select class="reviewForm__restaurant" name="restaurantId" id="restaurant">
    <option value="" disabled selected>Choose restaurant</option>
    {{!-- {{#each }} --}}
    <option value="restaurant">One restaurant</option>
    {{!-- {{/each}} --}}
  </select>

    <a href="/restaurants/add">Register new restaurant</a>

  <input class="reviewForm__title" type="text" name="title" />
  <input class="reviewForm__description" type="text" name="description" rows="5" />
  <input class="reviewForm__btn" type="submit" value="Publish" />
</form>

{{>navbar}}