<main class="review-page">

<h2>Write new review</h2>

<form class="review-page__section review-page__section--form" action="/reviews/write-new" method="post">
  <div class="form__select"> 
  <select class="form__select--restaurant" name="restaurantId" id="restaurant">
    <option value="" disabled selected>Choose restaurant</option>
    {{!-- {{#each }} --}}
    <option value="restaurant">One restaurant</option>
    {{!-- {{/each}} --}}
  </select>
  </div>

  <div class="form__link">
    <a href="/restaurants/add">Register new restaurant</a>
  </div>
  
  <div class="form__input">
    <input class="form__input--text" type="text" name="title" />
  </div>
  <div class="form__input">
    <input class="form__input--text" type="text" name="description" rows="5" />
  </div>
  <div class="form__input">
    <input class="form__input--btn" type="submit" value="Publish" />
  </div>
</form>
</main>

{{>navbar}}