<main class="error-page">

  <h2 class="error-page__section error-page__section--heading">Whoops!</h2>

  <div class="error-page__section error-page__section--info">
    <span class="info__text">The page you were looking for cannot be found</span>

    <a class="info__btn" href="/">Back to explore</a>
  </div>
</main>