{{#if loggedIn}}
  <p>logged in as {{id}} {{displayName}}</p>
  <form action="/login/log-out" method="post">
    <input type="submit" value="Log Out" />
  </form>
{{else}}
  <p>Please log in.</p>
{{/if}}