<main class="login-page">
  <div class="login-page__section login-page__section--logo">
    <span class="critic-logo"></span>
  </div>
  <form
  {{#if signIn}}
    action="/login/sign-in"
    {{else}}
    action="/login/sign-up"
    {{/if}}
    method="post"
    class="login-page__section login-page__section--form"
  >
    <div class="form__input">
      <input
        type="text"
        name="username"
        id="username"
        class="form__input--text"
        placeholder=" "
        required
        autofocus
      />
      <label for="username" class="form__input--title">Username</label>
    </div>
    <div class="form__input">
      <input
        type="password"
        name="password"
        id="password"
        class="form__input--text"
        placeholder=" "
        required
      />
      <label for="password" class="form__input--title">Password</label>
    </div>
    {{#if signIn}}
    {{else}}
      <div class="form__input">
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          class="form__input--text"
          placeholder=" "
          required
        />
        <label for="confirmPassword" class="form__input--title">Repeat password</label>
      </div>
    {{/if}}
    <div class="form__input">
      {{#if signIn}}
      <input type="submit" class="form__input--btn" value="Sign in"/>
      {{else}}
      <input type="submit" class="form__input--btn" value="Sign up"/>
      {{/if}}
        </div>
    {{#if signIn}}
      <a href="/login/sign-up" class="font-size--small">Don't have an account?
        Sign-up</a>
    {{else}}
      <a href="/login" class="font-size--small">Already have an account?
        Sign-in</a>
    {{/if}}
  </form>
  <div class="login-page__section login-page__section--third-party">
    <span class="font-size--small">Or continue with</span>
    <div class="third-party">
      <span class="third-party__logo third-party__logo--facebook"></span>
      <span class="third-party__logo third-party__logo--google"></span>
      <span class="third-party__logo third-party__logo--twitter"></span>
    </div>
  </div>
</main>