<main class="login-page">
  <div class="login-page__section login-page__section--logo">
    <span class="critic-logo"></span>
  </div>
  <form
  {{#if signIn}}
    action="/login/sign-in"
    {{else}}
    action="/login/sign-up"
    {{/if}}
    method="post"
    class="login-page__section login-page__section--form"
  >
  {{#if loginFailed}}
    <div class="error">
      <span class="error__text">
          User doesn't exist.
      </span>
    </div>
  {{/if}}
      {{#if wrongPassword}}
    <div class="error">
      <span class="error__text">
        Wrong password.
      </span>
    </div>
    {{/if}}
    {{#if userExists}}
    <div class="error">
      <span class="error__text">
        Username already exist.
      </span>
    </div>
    {{/if}}
    <div class="form__input">
      <input
        type="text"
        name="username"
        id="username"
        class="form__input--text"
        placeholder=" "
        required
        autofocus
      />
      <label for="username" class="form__input--title">Username</label>
    </div>
    <div class="form__input">
      <input
        type="password"
        name="password"
        id="password"
        class="form__input--text"
        placeholder=" "
        required
      />
      <label for="password" class="form__input--title">Password</label>
    </div>
    {{#if signIn}}
    <div class="form__input form__input--checkbox">
      <input 
        type="checkbox" 
        name="rememberMe" 
        id="rememberMe"
      /> 

<svg class="checkbox-icon" id="Round_checkbox" data-name="Round checkbox" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="183.024" height="216.89" viewBox="0 0 183.024 216.89">
<defs>
<clipPath id="clip-path">
<path id="checkmark" data-name="Path 3" d="M-15.748-10.815,9.7,3.989,6.528,73.92,140.385,59.734,108.233,91.886-3.151,84.059Z" transform="translate(469.385 339.025) rotate(-45)" fill="none"/>
</clipPath>
</defs>
<g id="Unchecked" transform="translate(16.398 80.89)" fill="#fff" stroke="#838383" stroke-width="11">
<circle cx="62.5" cy="62.5" r="62.5" stroke="none"/>
<circle cx="62.5" cy="62.5" r="68" fill="none"/>
</g>
<circle id="ellipse--orange" data-name="Unchecked" cx="51.5" cy="51.5" r="0" transform="translate(27.398 91.89)" fill="#f4a172"/>
<g id="Mask_Group_1" data-name="Mask Group 1" transform="translate(-450.602 -232.11)" clip-path="url(#clip-path)">
<circle id="ellipse--white" data-name="Ellipse 1" cx="125.5" cy="125.5" r="0" transform="translate(406 250)" fill="#fff"/>
</g>
</svg>

      <label for="rememberMe" class="checkbox-text">Remember me</label>
    </div>
    {{else}}
      <div class="form__input">
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          class="form__input--text"
          placeholder=" "
          required
        />
        <label for="confirmPassword" class="form__input--title">Repeat password</label>
      </div>
    {{/if}}
    <div class="form__input">
      {{#if signIn}}
      <input type="submit" class="form__input--btn" value="Sign in"/>
      {{else}}
      <input type="submit" class="form__input--btn" value="Sign up"/>
      {{/if}}
        </div>
    {{#if signIn}}
      <a href="/login/sign-up" class="font-size--small">Don't have an account?
        Sign-up</a>
    {{else}}
      <a href="/login" class="font-size--small">Already have an account?
        Sign-in</a>
    {{/if}}
  </form>
  <div class="login-page__section login-page__section--third-party">
    <span class="font-size--small">Or continue with</span>
    <div class="third-party">
      <a href="/login/facebook"><span class="third-party__logo third-party__logo--facebook"></span></a>
      <a href="/login/google"><span class="third-party__logo third-party__logo--google"></span></a>
      <a href="/login/twitter"><span class="third-party__logo third-party__logo--twitter"></span></a>
    </div>
  </div>
</main>