//////////////
// IMPORTS //
////////////
@import url("https://use.typekit.net/zeg4rhy.css");
/////////////
// MIXINS //
///////////
@mixin noto {
  font-family: "noto-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin lust {
  font-family: "lust", serif;
  font-weight: 700;
  font-style: normal;
}

@mixin mendl {
  font-family: "mendl-sans-dusk", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin poppins {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
