////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";
///////////////////////
// EXPLORE VARIABLE //
/////////////////////
$width: clamp(270px, 90%, 450px);
$border: 1px solid #d9d4d4;
$border-radius: 10px;
$border-radius-round: 999px;
$color-text-dim-1: #838383;
$color-text-dim-2: #9f9f9f;
$transition: all 0.2s ease-out;
//////////////////////////
// EXPLORE-PAGE MIXINS //
////////////////////////
@mixin icon-small {
  width: 3.75rem;
  height: 3.75rem;
  &::after {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@mixin icon-big {
  width: 8rem;
  height: 8rem;
  &::after {
    height: 5.5rem;
    width: 5.5rem;
  }
}
///////////////////////////
// EXPLORE PAGE STYLING //
/////////////////////////
.explore-page {
  @include typography.noto();
  @include mixins.flex(column, unset, center, 3rem);

  height: 100vh;

  .wrapper {
    @include mixins.flex(column, unset, center, 3rem);
    width: 100%;
    .heading {
      @include typography.lust();
    }
    // Wrapper modifiers
    &--restaurants {
    }
    // Wrapper modifiers
    &--reviews {
      gap: 1rem;
      padding-bottom: 135px;
    }
  }

  .container {
    width: $width;
    .restaurant-icon {
      @include mixins.flex(row, center, center);
      background-color: #ecab6f;
      border-radius: $border-radius-round;
      &::after {
        content: attr("data-restaurant-icon");
        content: url(../assets/svg/italian.svg);
      }
      // Restaurant-icon modifiers
      &--restaurant {
        margin-top: -3.5rem;
        @include icon-big();
      }
      // Restaurant-icon modifiers
      &--review {
        @include icon-small();
      }
    }

    .title {
      @include typography.lust();
    }

    .rating {
      // Rating modifiers
      &--restaurant {
      }
      // Rating modifiers
      &--review {
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
      }
    }

    &--search {
      margin-top: 5rem;
      @include mixins.flex(row, center, center);
      .form {
        @include mixins.flex(row, center, center);
        position: relative;
        width: 94%;
        border-radius: 10px;
        box-shadow: 0 0 6px 2px rgba($color: #000000, $alpha: 0.12);

        &__input {
          width: 100%;
          height: 59px;
          border: $border;
          border-radius: $border-radius;
        }

        &__lable {
          position: absolute;
          color: $color-text-dim-1;
          left: 2rem;
        }

        &__submit {
          position: absolute;
          left: 0;
        }
        &__searchBtn {
          position: absolute;
          right: 1rem;
          font-size: 1.25rem;
        }
      }
    }

    // Container modifiers
    &--restaurant {
      @include mixins.flex(row, flex-start, center, 1rem);
      width: min(100%, 450px);
      padding-top: 3.5rem;
      margin-top: -3.5rem;

      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .card {
        @include mixins.flex(column, center, center, 0.25rem);
        padding: 1rem;
        width: fit-content;
        flex-wrap: wrap;
        border: $border;
        border-radius: $border-radius;
        transition: $transition;
        cursor: pointer;
        &:first-child {
          @media screen and (max-width: 450px) {
            margin-left: 5%;
          }
        }
        &:last-child {
          @media screen and (max-width: 450px) {
            margin-right: 5%;
          }
        }
      }
    }

    // Container modifiers
    &--review {
      @include mixins.flex(row, space-between, center, 0.75rem);
      padding: 1rem;

      border: $border;
      border-radius: $border-radius;

      .block {
        @include mixins.flex(column, center, center);
      }
    }
  }

  .faded-text {
    font-size: 0.75rem;
    color: $color-text-dim-1;
  }

  *::selection {
    background-color: #504f4f;
    color: white;
  }
}
