<main class="restaurants-list">
    <div class="content-container">
        <form class="search-form" action="/restaurants" method="get" autocomplete="off">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </form>
        <div class="kitchen-filter">
            <a href="/restaurants?filter=american">American</a>
            <a href="/restaurants?filter=chinese">Chinese</a>
            <a href="/restaurants?filter=italian">Italian</a>
            <a href="/restaurants?filter=japanese">Japanese</a>
            <a href="/restaurants?filter=other">Other</a>
        </div>
        <div class="sort-container">
            <a class="fa fa-arrow-up" href="/restaurants?sort=best"></a>
            <a class="fa fa-arrow-down" href="/restaurants?sort=worst"></a>

        </div>
        <div class="restaurants-container">
            {{#each restaurants}}
                <a href="/restaurants/{{_id}}" class="restaurant">
                    <div class="sphere">
                        
                    </div>
                    <div class="text-wrapper">
                        <span>{{name}}</span>
                        <div>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
</main>
{{>navbar}}