<main class="register-restaurant">
    <form class="register-form" action="/restaurants/register" method="post">
        <p class="title">Register New Restaurant</p>
        <label>Name</label>
        <input type="text" placeholder="Name" name="name"><br>
        <label>Address</label>
        <input type="text" placeholder="Address" name="address"><br>
        <label>Choose Kitchen</label>
        <select name="kitchenType">
            <option value="american">American</option>
            <option value="chinese">Chinese</option>
            <option value="italian">Italian</option>
            <option value="japanese">Japanese</option>
            <option value="other">Other</option>
        </select><br>
        <input type="submit">

    </form>
</main>
{{>navbar}}