<main class="restaurants-view">
    {{>restaurant-info-box}}
    <div class="filter-container">
        <div>
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down"></i>
        </div>
        <div>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div>
            <i class="fa fa-close"></i>
        </div>
    </div>

</main>
{{>navbar}}